.desktop {
  background-color: #e5e2e2;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 86px;
  background-color: #ffffff;
}

.desktop .text-wrapper {
  position: absolute;
  top: 12px;
  left: 87px;
  width: 216px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .b-s-u-t-p-GI-y-m-i {
  position: absolute;
  top: 169px;
  left: 232px;
  width: 514px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
}

.desktop .text-wrapper-2 {
  font-size: 24px;
}

.desktop .div {
  position: absolute;
  top: 333px;
  left: 232px;
  width: 249px;
  height: 53px;
  background-color: #d9d9d9;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 339px;
  left: 278px;
  width: 170px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img {
  position: absolute;
  top: 99px;
  left: 832px;
  width: 342px;
  height: 342px;
  aspect-ratio: 1;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 848px;
  left: 0;
  width: 1440px;
  height: 167px;
  background-color: #8b8a8a;
}

.desktop .hotline {
  position: absolute;
  top: 890px;
  left: 448px;
  width: 950px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 890px;
  left: 56px;
  width: 277px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 441px;
  left: 0;
  width: 1440px;
  height: 407px;
  background-color: #ffffff;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 484px;
  left: 30px;
  width: 310px;
  height: 310px;
  background-color: #d9d9d9;
}

.desktop .img-png {
  position: absolute;
  top: 484px;
  left: 55px;
  width: 277px;
  height: 274px;
  aspect-ratio: 1.01;
  object-fit: cover;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 727px;
  left: 38px;
  width: 294px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-5 {
  position: absolute;
  top: 484px;
  left: 391px;
  width: 310px;
  height: 310px;
  background-color: #d9d9d9;
}

.desktop .rectangle-6 {
  position: absolute;
  top: 490px;
  left: 403px;
  width: 277px;
  height: 227px;
  aspect-ratio: 1.22;
  object-fit: cover;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 732px;
  left: 434px;
  width: 224px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-7 {
  position: absolute;
  top: 484px;
  left: 746px;
  width: 305px;
  height: 310px;
  background-color: #d9d9d9;
}

.desktop .rectangle-8 {
  position: absolute;
  top: 490px;
  left: 785px;
  width: 227px;
  height: 227px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 732px;
  left: 761px;
  width: 298px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .rectangle-9 {
  position: absolute;
  top: 484px;
  left: 1096px;
  width: 310px;
  height: 310px;
  background-color: #d9d9d9;
}

.desktop .images {
  position: absolute;
  top: 484px;
  left: 1138px;
  width: 225px;
  height: 225px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 729px;
  left: 1123px;
  width: 255px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
